body {
    font-family: Arial, sans-serif;
    background-image: url("img2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #0f324a;
    border-radius: 8px;
    box-shadow: 10px 2px 10px rgba(0, 0, 0, 0.1);
}
#peerid
{   padding: 20px;
    color: #ccc;
}
h1 {
    font-size: 36px;
    color: #fefefe;
}

p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#audio {
    margin-top: 20px;
}
